{% load url from future %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>

    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% endblock %}

        <title>{% block title %}Sail App{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
        <link rel="stylesheet" type="text/css" href="{% static "sail_frontend_app/css/bootstrap.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "sail_frontend_app/css/bootstrap-tweaks.css" %}"/>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "sail_frontend_app/css/default.css" %}"/>
        {% endblock %}
    {% endblock %}
    </head>

    <body class="container">

        <div class="container-fluid" style="margin-top: 30px">
            <div class="row-fluid">
                <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
                    <div class="row-fluid">
                        <div>
                            {% block branding %}<h3 style="margin: 0 0 20px;">Sail</h3>{% endblock %}
                        </div>
                    </div>{# <!-- /row fluid --> #}
        
                    {% block content %}
                    {# <!-- login/logout content goes here --> #}
                    {% endblock %}
                    
                </div>{# <!--/.well--> #}
            </div>{# <!-- /.row-fluid --> #}
        </div>{# <!-- /.container-fluid --> #}
    </body>
</html>
