{# <!-- Two panes layout --> #}
<div class="row-fluid">
    {# <!-- Calendar --> #}
    <div class="span6">
        <div ng-controller="CalendarCtrl">
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="mainCalendar"></div>
        </div>
    </div>
    {# <!-- Selected reservation details --> #}
    <div class="span6">
        <div ng-controller="ReservationDetailCtrl">
        
            <div class="row">
                <div class="span8 offset4">
                    <a class="btn btn-primary" href="#" ng-click="open()"><i class="icon-pencil"></i> Edit Reservation</a>
                </div>
            </div>
            
            {% verbatim %}
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{data.reservation.name}}</dd>

                <dt>Description</dt>
                <dd>{{data.reservation.description}}</dd>
                
                <dt>Amount</dt>
                <dd>${{data.reservation.price}}</dd>
                
                <dt>From</dt>
                <dd>{{data.reservation.date_from | date:'MM/dd/yyyy'}}</dd>
                
                <dt>To</dt>
                <dd>{{data.reservation.date_to | date:'MM/dd/yyyy'}}</dd>
            </dl>
            {% endverbatim %}
            
        </div>
    </div>
</div>
