<div>
    <div ng-show="tab.display=='reservation'">
        {% include "sail_frontend_app/reservations_tab.html" %}
    </div>
    <div ng-show="tab.display=='property'">
        {% include "sail_frontend_app/properties_tab.html" %}
    </div>
    <div ng-show="tab.display=='calendar'">
        {% include "sail_frontend_app/calendar_tab.html" %}
    </div>
    <div ng-show="tab.display=='report'">
        {% include "sail_frontend_app/reports_tab.html" %}
    </div>
</div>
