{% extends "sail_frontend_app/base.html" %}

{% block content %}
<div class="row-fluid">
    <div>
    {% if user.is_authenticated %}
        <p><span>You are now logged in Sail.</span></p>
        <p><a href="{% url 'sail_frontend_app:logout' %}">Logout</a></p>
    {% else %}
        <p><span>You are not logged in Sail.</span></p>
        <p><a href="{% url 'sail_frontend_app:login' %}">Login</a></p>
    {% endif %}
    </div>
</div>
{% endblock %}
