<!doctype html>
{% comment %}
The following classes are used with Modernizr.
They help knowing which browser is used, which features are available and whether JavaScript is disabled.
http://stackoverflow.com/questions/6724515/what-is-the-purpose-of-the-html-no-js-class

The first entry is to prevent IE from blocking when loading files if conditional comments are used on the page:
http://www.phpied.com/conditional-comments-block-downloads/
{% endcomment %}
<!--[if IE]><![endif]-->
<!--[if lt IE 7]>      <html lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-US" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-US" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        {# IE: use latest rendering method or Google Chrome Frame #}
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <title>Sail App</title>
        <meta name="viewport" content="width=device-width">
        {# <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> #}

        {# <!-- build:css({.tmp,app}) styles/main.css --> #}
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        {# <!-- endbuild --> #}
        <link rel='stylesheet' type='text/css' href='bower_components/fullcalendar/fullcalendar.css' />
        <link rel='stylesheet' type='text/css' href='bower_components/jqplot-bower/dist/jquery.jqplot.css' />
    </head>
    
    {% if user.is_authenticated %}
    <body ng-app="sailFrontendApp" ng-show="true" style="display:none">
        {# <!-- Navigation bar --> #}
        {% include "sail_frontend_app/navigation_bar.html" %}
        
        {# <!-- Content --> #}
        {% include "sail_frontend_app/content.html" %}
        
        {# <!-- Templates --> #}
        {% include "sail_frontend_app/templates/templates.html" %}

        {# <!-- Scripts --> #}
        {% include "sail_frontend_app/scripts.html" %}

    {% else %}
    <body>
        <p><span>You are not logged in Sail.</span></p>
        <p><a href="{% url 'sail_frontend_app:login' %}">Login</a></p>
    {% endif %}
    </body>
</html>
