{% extends "sail_frontend_app/login_base.html" %}

{% block content %}
<div class="row-fluid">
    <div>
        <p><span>You have been logged out.</span></p>
        <p><a href="{% url 'sail_frontend_app:login' %}">Login</a></p>
    </div>
</div>
{% endblock %}
