<div class="navbar navbar-static-top" style="margin: -1px -1px 0;">
    <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="#">Sail</a>
            <ul class="nav" ng-init="tab.display='reservation'">
                {# <!-- <li><a href="#">Home</a></li> --> #}
                <li ng-class="{active: tab.display=='reservation'}" ng-click="tab.display='reservation'"><a href="#/reservations">Reservations</a></li>
                <li ng-class="{active: tab.display=='property'}" ng-click="tab.display='property'"><a href="#/properties">Properties</a></li>
                <li ng-class="{active: tab.display=='calendar'}" ng-click="tab.display='calendar'"><a href="#/calendar">Calendar</a></li>
                <li ng-class="{active: tab.display=='report'}" ng-click="tab.display='report'"><a href="#/reports">Reports</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="#/account">Account</a></li>
                <li><a href="#/account">Help</a></li>
                <li class="divider-vertical"></li>
                <li><a href="{% url 'sail_frontend_app:logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
