{# <!-- Properties buttons --> #}
<div>

<div ng-controller="CreatePropertyCtrl">
    <a class="btn" href="#" style="float:left" ng-click="openCreatePropertyModal()">
        <i class="icon-plus"></i> Add Properties
    </a>
</div>

<div style="float:left; padding:5px"></div>
<form style="float:left; margin:0px">
    <div class="input-append">
        {#<!-- Add the search-query and search-form classes for rounded corners -->#}
        <input type="text" class="span2">
        <button type="submit" class="btn">Search</button>
    </div>
</form>
<div class="clearfix"></div>
</div>

{# <!-- Two panes layout --> #}
<div class="row-fluid">
    {# <!-- List of reservations --> #}
    <div class="span6" style="word-wrap:break-word">
        <div ng-controller="PropertyCtrl">
            <div class="row-fluid" ng-repeat="property in properties" ng-click="selectProperty(property)">
                {% verbatim %}
                <div class="span4">{{property.name}}</div>
                <div class="span4">{{property.description}}</div>
                {% endverbatim %}
            </div>
        </div>
    </div>
    {# <!-- Selected property details --> #}
    <div class="span6">
        <div ng-controller="PropertyDetailCtrl">
        <div class="row">
        <div class="span4 offset4">
            <a class="btn btn-primary" href="#" ng-click="open()"><i class="icon-pencil"></i> Edit Property</a>
        </div>
        <div class="span4" ng-controller="CreateReservationCtrl">
            <a class="btn btn-primary" href="#" ng-click="openCreateReservationModal()"><i class="icon-plus"></i> Add Reservation</a>
        </div>
        </div>
        
        {% verbatim %}
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{data.property.name}}</dd>

            <dt>Description</dt>
            <dd>{{data.property.description}}</dd>
            
            <dt>Currency</dt>
            <dd>{{data.property.currency}}</dd>
        </dl>
        {% endverbatim %}
        </div>
    </div>
</div>
