<div>
<h4>Reports</h4>
</div>

<div class="row-fluid">
    <div class="span12" style="word-wrap:break-word">
        <div ng-controller="ReportCtrl">
        
            <form class="form-inline">
            
                <div class="control-group"
                    ng-class="{info: !selectedProperty.property.name, success: selectedProperty.property.name}"
                    style="display:inline-block">
                    <div class="controls" style="margin-left: 5px;">
                        <select ng-model="selectedProperty.property" ng-options="property as property.name for property in propertyList">
                            <option value="" disabled selected>-- Choose a property --</option>
                        </select>
                    </div>
                </div>
                
                <div class="control-group"
                    ng-class="{info: selectedProperty.property.name && !report.type.name, success: report.type.name}"
                    style="display:inline-block">
                    <div class="controls" style="margin-left: 5px;">
                        <select ng-model="report.type" ng-options="type as type.name for type in reportTypeList">
                            <option value="" disabled selected>-- Report Type --</option>
                        </select>
                    </div>
                </div>
                
                <div class="control-group"
                    ng-class="{info: report.type.name && !report.date_from, success: report.date_from}"
                    style="display:inline-block">
                    <div class="controls" style="margin-left: 5px;">
                        From: <input type="text" placeholder="Enter date" datepicker-popup="yyyy-MM-dd" ng-model="report.date_from"/>
                    </div>
                </div>
                
                <div class="control-group"
                    ng-class="{info: report.date_from && !report.date_to, success: report.date_to}"
                    style="display:inline-block">
                    <div class="controls" style="margin-left: 5px;">
                        To: <input type="text" placeholder="Enter date" datepicker-popup="yyyy-MM-dd" ng-model="report.date_to" min="report.date_from"/>
                    </div>
                </div>
                
                <a class="btn" href="#" ng-class="{'btn-success': selectedProperty.property.name && report.type.name && report.date_from && report.date_to}" ng-click="loadReport()">
                    <i class="icon-list-alt"></i> &nbspGet Report!
                </a>
                
            </form>
            
        <div my-ui-chart="chartData" chart-options="chartOptions"></div>

        </div>
    </div>
</div>
