{# <!-- Reservations buttons --> #}
<div>
<a class="btn" href="#" style="float:left"><i class="icon-plus"></i> Add Reservation</a>
<div style="float:left; padding:5px"></div>
<form style="float:left; margin:0px">
    <div class="input-append">
        {#<!-- Add the search-query and search-form classes for rounded corners -->#}
        <input type="text" class="span2">
        <button type="submit" class="btn">Search</button>
    </div>
</form>
<div class="clearfix"></div>
</div>

{# <!-- Two panes layout --> #}
<div class="row-fluid">
    {# <!-- List of reservations --> #}
    <div class="span6" style="word-wrap:break-word">
        <div ng-controller="ReservationCtrl">
            <div class="row-fluid" ng-repeat="reservation in reservations" ng-click="selectReservation(reservation)">
                {% verbatim %}
                <div class="span4">{{reservation.name}}</div>
                <div class="span4">{{reservation.description}}</div>
                <div class="span2">{{reservation.date_from | date:'MM/dd/yyyy'}}</div>
                <div class="span2">{{reservation.date_to | date:'MM/dd/yyyy'}}</div>
                {% endverbatim %}
            </div>
        </div>
    </div>
    {# <!-- Selected reservation details --> #}
    <div class="span6">
        <div ng-controller="ReservationDetailCtrl">
        
            <div class="row">
                <div class="span8 offset4">
                    <a class="btn btn-primary" href="#" ng-click="open()"><i class="icon-pencil"></i> Edit Reservation</a>
                </div>
            </div>
            
            {% verbatim %}
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{data.reservation.name}}</dd>

                <dt>Description</dt>
                <dd>{{data.reservation.description}}</dd>
                
                <dt>Amount</dt>
                <dd>${{data.reservation.price}}</dd>
                
                <dt>From</dt>
                <dd>{{data.reservation.date_from | date:'MM/dd/yyyy'}}</dd>
                
                <dt>To</dt>
                <dd>{{data.reservation.date_to | date:'MM/dd/yyyy'}}</dd>
            </dl>
            {% endverbatim %}
        
        </div>
    </div>
</div>
