<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/jquery/jquery-migrate.js"></script>
<script src="bower_components/angular/angular.js"></script>

{# <!-- build:js scripts/modules.js --> #}
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

<script src="bower_components/angular-ui-bootstrap/src/modal/modal.js"></script>
<script src="bower_components/angular-ui-bootstrap/src/transition/transition.js"></script>

<script src="bower_components/angular-ui-bootstrap/src/datepicker/datepicker.js"></script>
<script src="bower_components/angular-ui-bootstrap/src/position/position.js"></script>

<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/moment-timezone/moment-timezone.js"></script>

<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/restangular/src/restangular.js"></script>
{# <!-- endbuild --> #}

{# <!-- build:js({.tmp,app}) scripts/scripts.js --> #}
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>

{# <!-- third party libraries --> #}
<script src="scripts/third-party/jstz/jstz-1.0.4.min.js"></script>
<script src="scripts/third-party/moment-timezone-data/moment-timezone-data.js"></script>

{# <!-- utilities --> #}
<script src="scripts/services/dateUtils.js"></script>

{# <!-- reservations logic --> #}
<script src="scripts/controllers/reservation.js"></script>
<script src="scripts/controllers/reservationDetail.js"></script>
<script src="scripts/controllers/editReservationModal.js"></script>

<script src="scripts/controllers/createReservation.js"></script>
<script src="scripts/controllers/createReservationModal.js"></script>

<script src="scripts/services/restReservation.js"></script>
<script src="scripts/services/updateSelectedReservation.js"></script>
<script src="scripts/services/currentlySelectedReservation.js"></script>

{# <!-- properties logic --> #}
<script src="scripts/controllers/property.js"></script>
<script src="scripts/controllers/propertyDetail.js"></script>
<script src="scripts/controllers/editPropertyModal.js"></script>

<script src="scripts/controllers/createProperty.js"></script>
<script src="scripts/controllers/createPropertyModal.js"></script>

<script src="scripts/services/restProperty.js"></script>
<script src="scripts/services/updateSelectedProperty.js"></script>
<script src="scripts/services/currentlySelectedProperty.js"></script>

{# <!-- calendar logic --> #}
<script src="bower_components/fullcalendar/fullcalendar.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>

<script src="scripts/controllers/calendar.js"></script>

{# <!-- reports logic --> #}
<!--[if lt IE 9]><script src="bower_components/jqplot-bower/dist/excanvas.js"></script><![endif]-->
<script src="bower_components/jqplot-bower/dist/jquery.jqplot.js"></script>
<script src="bower_components/jqplot-bower/dist/plugins/jqplot.barRenderer.js"></script>
<script src="bower_components/jqplot-bower/dist/plugins/jqplot.categoryAxisRenderer.js"></script>
<script src="bower_components/jqplot-bower/dist/plugins/jqplot.canvasAxisTickRenderer.js"></script>
<script src="bower_components/jqplot-bower/dist/plugins/jqplot.canvasTextRenderer.js"></script>

<script src="scripts/controllers/report.js"></script>

<script src="scripts/directives/myUiChart.js"></script>

{# <!-- international currency support --> #}
<script src="bower_components/iso-4217-currency-codes-angular/src/iso-4217-currency-codes-angular.js"></script>

{# <!-- endbuild --> #}
