{% extends "sail_login/login_base.html" %}

{% block content %}
<div class="row-fluid">
    <div>
        <form action="{% url 'sail_login:login' %}" class=" form-inline" method="post">
            {% csrf_token %}
            <div id="div_id_username" class="clearfix control-group">
                <div class="controls">
                    <Label class="span4">Username:</label>
                    <input style="height: 25px" type="text" name="username" maxlength="100" autocapitalize="off" autocorrect="off" class="textinput textInput" id="id_username">
                </div>
            </div>
            <div id="div_id_password" class="clearfix control-group">
                <div class="controls">
                    <Label class="span4">Password:</label>
                    <input style="height: 25px" type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off" class="textinput textInput" id="id_password">
                </div>
            </div>
            <div class="form-actions-no-box">
                <input type="submit" name="submit" value="Log in" class="btn btn-primary" id="submit-id-submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
