{% extends "sail_login/login_base.html" %}

{% block content %}
<div class="row-fluid">
    <div>
        <p><span>You have been logged out.</span></p>
        <p><a href="{% url 'sail_login:login' %}">Login</a></p>
    </div>
</div>
{% endblock %}
