<script id="template/modal/window.html" type="text/ng-template">
  <div class="modal {{ windowClass }}" ng-style="{'z-index': 1050 + index*10}" ng-transclude></div>
</script>

{#<!-- Create property dialog -->#}
<script type="text/ng-template" id="createPropertyModal.html">
    <div class="modal-header">
        <h3>Add property</h3>
    </div>
    <div class="modal-body" style="overflow-y:visible">
         <form novalidate class="css-form">
             Name: <input type="text" ng-model="newProperty.name" required /> <br />
             Description: <input type="text" ng-model="newProperty.description" required /> <br />
             Currency: <select ng-model="newProperty.currency" ng-options="c.code as c.name for c in currencyOptions" required ></select> <br />
         </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

{#<!-- Edit property dialog -->#}
<script type="text/ng-template" id="editPropertyModal.html">
    <div class="modal-header">
        <h3>Edit property</h3>
    </div>
    <div class="modal-body" style="overflow-y:visible">
         <form novalidate class="css-form">
             Name: <input type="text" ng-model="selectedProperty.property.name" required /> <br />
             Description: <input type="text" ng-model="selectedProperty.property.description" required /> <br />
             Currency: <select ng-model="selectedProperty.property.currency" ng-options="c.code as c.name for c in currencyOptions" required ></select> <br />
         </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
