<script id="template/modal/window.html" type="text/ng-template">
  <div ng-class="['modal', windowClass]" ng-style="{'z-index': 1050 + index*10}" ng-transclude></div>
</script>

{#<!-- Create property dialog -->#}
<script type="text/ng-template" id="createReservationModal.html">
    <div class="modal-header">
        <h3>Add reservation</h3>
    </div>
    <div class="modal-body" style="overflow-y:visible">
         <form novalidate class="css-form">
             Name: <input type="text" ng-model="newReservation.name" required /> <br />
             Amount: <input type="text" ng-model="newReservation.price" /> <span ng-bind="selectedProperty.currency"></span> <br />
             Description: <input type="text" ng-model="newReservation.description" required /> <br />
             Property: <input ng-model="selectedProperty.name" readonly /> <br />
             From: <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="newReservation.date_from"/> <br />
             To: <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="newReservation.date_to" min="newReservation.date_from"/> <br />
         </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

{#<!-- Edit property dialog -->#}
<script type="text/ng-template" id="editReservationModal.html">
    <div class="modal-header">
        <h3>Edit reservation</h3>
    </div>
    <div class="modal-body" style="overflow-y:visible">
         <form novalidate class="css-form">
             Name: <input type="text" ng-model="selectedReservation.reservation.name" required /> <br />
             Amount: <input type="text" ng-model="selectedReservation.reservation.price" /> <br />
             Description: <input type="text" ng-model="selectedReservation.reservation.description" required /> <br />
             From: <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="selectedReservation.reservation.date_from"/> <br />
             To: <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="selectedReservation.reservation.date_to" min="selectedReservation.reservation.date_from"/> <br />
         </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
